{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <div class="alert alert-danger mt-2 ml-5 mr-5">
            <h1>Erreur {{ status_code }}</h1>
            <p>Vous n'avez pas les droits nécessaires pour effectuer cette action.</p>
        </div>
        <a class="btn btn-light mt-2" href="{{ path('homepage') }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Retour à l'accueil</a>
    </div>
{% endblock %}
